
<section class="team">
  <div class="team-member">
    <div class="team-image">
    <img src="/images/{{person.avatar}}" alt="{{person.name}}">
    </div>
    <div class="team-content">
    <h3 class="team-member-name">{{person.name}}</h3>
    <p class="team-member-bio"> {{person.bio}} </p>
    <div class="social-links">
      <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-linkedin"></a>

    </div>
<div class="skills">
      <p class="team-member-bio">{{person.skills}}</p>
    </div>
    </div>
    

    
  </div>

</section>